
/Libs/ActionBarSherlock/bin
/Libs/ActionBarSherlock/gen
/Libs/Android-ViewPagerIndicator/gen
/Libs/Android-ViewPagerIndicator/bin
/Libs/SlidingMenu/gen
/Libs/SlidingMenu/bin
/Libs/NewQuickAction/gen
/Libs/NewQuickAction/bin
/Libs/UrlImageViewHelper/gen
/Libs/UrlImageViewHelper/bin
/Libs/Polaris/gen
/Libs/Polaris/bin
/App/bin
/App/gen