
/Libs/ActionBarSherlock/bin
/Libs/ActionBarSherlock/gen
/Libs/Android-ViewPagerIndicator/gen
/Libs/Android-ViewPagerIndicator/bin
/Libs/SlidingMenu/gen
/Libs/SlidingMenu/bin
/App/bin
/App/gen