<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binomed.devfest"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/DevFestTheme">
        <activity android:name=".screen.infos.InfosActivity"></activity>
        <activity android:name=".screen.sessions.SessionsActivity">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.speakers.SpeakersActivity"></activity>

    </application>

</manifest>
